*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 100%;
}
a{
  text-decoration: none;
  color: #FFFFFF;
}
ul{
  list-style-type: none;
}
header{
  background-color: #0020F4;
  height: 250px;
}
.header{
  display:flex;
  align-items: center;
  justify-content: space-around;
}
li{
  display: inline;
  margin: 15px;
}
.contact{
  background-color: #FFFFFF ;
  color: #171717;
  border-radius: 25px;
  padding: 10px;
}
