*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 100%;
}
a{
  text-decoration: none;
  color: #FFFFFF;
}
ul{
  list-style-type: none;
}
header{
  background-color: #0020F4;
  height: 250px;
  width: 100%;
}
header > div > img{
  height: 50px;
}
.header{
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
li{
  display: inline;
  margin: 15px;
}
.contact{
  background-color: #FFFFFF ;
  color: #171717;
  border-radius: 25px;
  padding: 15px;
}
.section-sky-house{
  display: flex;
  position: relative;
  bottom: 70px;
  align-items: center;
  flex-direction: column;
}
.sky-house{
  width: 700px;
  height: 400px;
}
h3{
  font-size: 20px;
  margin-right: 230px;
  font-family: ALK Rounded Nusx Med;
}
.image-box{
  display: inline-block;
}
div > img {
  height: 150px;
  margin: 10px;
}
.paragraph{
  display: flex;
  flex-direction: column;
}
.lorem-1{
  width: 800px;
  padding: 15px;
  margin: auto;
}
.lorem-2{
  width: 800px;
  padding: 15px;
  margin: auto;
}
.lorem-3{
  width: 800px;
  padding: 15px;
  margin: auto;
}
.button{
  background-color:#0A22F4;
  color: #FFFFFF;
  width: 250px;
  border-radius: 25px;
  margin: auto;
  padding: 10px;
}
.section-contact{
  background-color: #0A22F4;
  width: 100%;
  height: 700px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
    "header header"
    "section section "
    "section section "
    "footer footer  " 
  ;
  align-items: flex-end;
  margin-top: 50px;
}
iframe{
  width: 300px;
  height: 150px;
  padding-top: 30px;
} 
.lorem-ipsum{
  display: inline-block;
}
.div-contact{
  margin: 50px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.section-h2{
  padding-bottom: 30px;
  font-size: 25px;
}
.number-message{
  display: flex;
  align-items: center;
}
.number{
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  display: inline-block;
}
.message-logo{
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 15px;
}
label{
  color:#FFFFFF;
  border-bottom: 3px solid rgba(255, 255, 255, 0.20);
  padding-bottom: 10px;
  width: 200%;
 
}
.info{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 500px;
  height: 300px;
  
}
.user-name{
  width: 200%;
  margin-bottom: 100px;
  display: inline-block;
}
.email{
  margin-bottom: 80px;
  display: inline-block;
}
.user-number{
  margin-bottom: 50px;
  display: inline-block;
}
.textarea{
  margin-top: 20px;
  display: inline-block;
}
p{
  font-family: ALK Rounded Nusx Med;
}
.div-buttom{
  display: flex;
  margin-top: 30px;
  margin-left: 50%;
}
.buttom-2{
  display: inline-block;
  background-color:white;
  color: black;
  padding: 10px;
  border-radius: 30px;
  width: 130px;
}
@media (max-width:1024px){
  header,img{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  a{
    display: none;
  }
  h3{
    margin-left: 280px;
  }
  .sky-house{
    max-width: 400px;
    height: 200px;
    width: 90%;
  }
}
