*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 100%;
}
a{
  text-decoration: none;
  color: #FFFFFF;
}
ul{
  list-style-type: none;
}
header{
  background-color: #0020F4;
  height: 250px;
}
.header{
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
li{
  display: inline;
  margin: 15px;
}
.contact{
  background-color: #FFFFFF ;
  color: #171717;
  border-radius: 25px;
  padding: 10px;
}
.section-sky-house{
  display: flex;
  position: relative;
  bottom: 70px;
  justify-content: center;
}


.sky-house{
  position: absolute;
  width: 700px;
  height: 400px;
}
h3{
  position: absolute;
  top: 420px;
  font-size: 20px;
}